body {
  background-color: rgb(212, 209, 209);
}

.profile {
  width: 300px;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  text-align: center;

}
.dash {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 60%;
  background-color: #4d946f;
  color: white;
  font-size: 35px;
  line-height: 90px;
}
.skills li {
  display: inline-block;
  padding: 7px 12px;
  border-radius: 15px;
  background-color: #e2eee7;
  color: #237052;
  font-size: 13px;
}

button {
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  background-color: #2e7857;
  color: white;
  font-size: 14px;
}

